Repository scaleoutsystems/fedn, pull requests merged in 2021-12, with the labels that each got.

#319 Compatibility with pymongo v 4.0 - Bugfix/318
  fedn/fedn/clients/reducer/statestore/mongoreducerstatestore.py
  fedn/fedn/common/tracer/mongotracer.py
Labels: bugfix, dependencies

#327 Resolved #326
  fedn/fedn/clients/reducer/restservice.py
Labels: bugfix

#330 Robust server side stream RPCs, resolves #329
  fedn/fedn/client.py
  fedn/fedn/combiner.py
Labels: bugfix

#334 codeql check fix for release v0.3.1
  fedn/fedn/client.py
Labels: security
