Repository scaleoutsystems/fedn, pull requests merged in 2024-11, with the labels that each got.

#733 Feature/SK-946 | Graceful failing if new container is not present
  fedn/network/combiner/hooks/hook_client.py
  fedn/network/combiner/roundhandler.py
Labels: feature, minor

#735 Feature/SK-946 | Default value on session config
  fedn/network/controller/control.py
Labels: feature, patch

#732 Feature/SK-1164 | grpc allow version up to <v1.67
  .ci/tests/examples/print_logs.sh
  .github/workflows/code-checks.yaml
  .github/workflows/integration-tests.yaml
  docs/conf.py
  fedn/network/combiner/combiner.py
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2_grpc.py
  fedn/network/storage/statestore/mongostatestore.py
  pyproject.toml
Labels: feature, minor

#736 Docs/SK-1172 | Comment in fedn.yaml mnist-pytorch example
  examples/mnist-pytorch/client/fedn.yaml
Labels: docs, minor, patch

#734 Fix/SK-1169 | Enable --combiner flag without api-url
  fedn/cli/client_cmd.py
Labels: fix, minor

#738 Docs/SK-1173 | Quickstart guide updated with the Packages link in the studio
  docs/img/upload_package.png
  docs/img/upload_seed.png
  docs/quickstart.rst
Labels: docs, minor

#740 Fix/SK-1179 | Update min protobuf version
  pyproject.toml
Labels: fix, patch

#737 Feature/SK-1167 | Add endpoint to auth
  fedn/network/grpc/auth.py
Labels: feature, patch

#726 Feature/SK-1102 | Simplify ClientAPI and add support for inference
  .ci/tests/examples/print_logs.sh
  .ci/tests/examples/wait_for.py
  docker-compose.yaml
  fedn/__init__.py
  fedn/cli/client_cmd.py
  fedn/network/clients/README.rst
  fedn/network/clients/client_v2.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
Labels: feature, minor

#744 Fix/SK-1167 | Fix exception so it handles different errors better
  fedn/network/combiner/hooks/hook_client.py
Labels: fix, minor

#748 Feature/SK-1211 | add trivy scan to github workflow
  .github/workflows/build-containers.yaml
Labels: github, patch

#753 Fix/SK-000 | Create SECURITY.md
  SECURITY.md
Labels: docs, fix, minor

#756 Feature/SK-1220 | Update server-functions readme
  examples/server-functions/README.rst
Labels: docs, minor

#757 Fix/SK-1220 | Fix readme syntax
  examples/server-functions/README.rst
Labels: docs, patch

#755 Refactor/SK-1217 | Update image and remove support for py 3.8
  .github/workflows/code-checks.yaml
  .github/workflows/integration-tests.yaml
  Dockerfile
  docker-compose.yaml
  docs/conf.py
  docs/quickstart.rst
  examples/FedSimSiam/README.rst
  examples/FedSimSiam/client/python_env.yaml
  examples/flower-client/client/python_env.yaml
  examples/huggingface/README.rst
  examples/huggingface/client/python_env.yaml
  examples/mnist-keras/README.rst
  examples/mnist-pytorch-DPSGD/README.rst
  examples/mnist-pytorch-DPSGD/client/python_env.yaml
  examples/mnist-pytorch/README.rst
  examples/mnist-pytorch/client/python_env.yaml
  examples/monai-2D-mednist/README.rst
  examples/monai-2D-mednist/client/python_env.yaml
  fedn/network/controller/controlbase.py
  fedn/utils/process.py
  pyproject.toml
Labels: feature, docs, minor, github

#742 Fix/SK-1127 | add session_id flag
  fedn/cli/client_cmd.py
  fedn/cli/combiner_cmd.py
  fedn/cli/model_cmd.py
  fedn/cli/package_cmd.py
  fedn/cli/round_cmd.py
  fedn/cli/session_cmd.py
  fedn/cli/shared.py
  fedn/cli/status_cmd.py
  fedn/cli/validation_cmd.py
Labels: fix, minor

#754 Feature/SK-1217 | Add client settings to client v2
  fedn/network/clients/client_v2.py
  fedn/network/clients/fedn_client.py
Labels: feature, minor

#758 Refactor/SK-1225 | Use api/v1 in APIClient start_session
  examples/monai-2D-mednist/client/validate.py
  fedn/network/api/client.py
Labels: minor

#761 Fix/SK-1231 | URL "sessions" -> "sessions/" in APIClient
  fedn/network/api/client.py
Labels: fix, patch

#762 Fix/SK-1234 | Remove "self" in self.logger
  fedn/network/clients/grpc_handler.py
Labels: fix, patch
