Repository scaleoutsystems/fedn, pull requests merged in 2024-10, with the labels that each got.

#705 Bug/SK-1040 | Fixing numpy version with the MONAI package
  examples/monai-2D-mednist/client/python_env.yaml
  examples/monai-2D-mednist/client/train.py
  examples/monai-2D-mednist/requirements.txt
Labels: HOLD, fix, patch

#716 Docs/SK-1084 | Improve SEO
  docs/aggregators.rst
  docs/apiclient.rst
  docs/architecture.rst
  docs/auth.rst
  docs/developer.rst
  docs/faq.rst
  docs/fedn.network.api.rst
  docs/fedn.network.clients.rst
  docs/fedn.network.combiner.aggregators.rst
  docs/fedn.network.combiner.rst
  docs/fedn.network.controller.rst
  docs/fedn.network.dashboard.rst
  docs/fedn.network.loadbalancer.rst
  docs/fedn.network.rst
  docs/fedn.network.statestore.rst
  docs/fedn.network.storage.models.rst
  docs/fedn.network.storage.rst
  docs/fedn.network.storage.s3.rst
  docs/fedn.network.storage.statestore.rst
  docs/fedn.rst
  docs/fedn.utils.helpers.plugins.rst
  docs/fedn.utils.helpers.rst
  docs/fedn.utils.plugins.rst
  docs/fedn.utils.rst
  docs/helpers.rst
  docs/index.rst
  docs/introduction.rst
  docs/modules.rst
  docs/projects.rst
Labels: docs, minor

#720 Fix/SK-1076 | FutureWarning torch.load
  examples/FedSimSiam/client/data.py
  examples/huggingface/client/data.py
  examples/mnist-pytorch-DPSGD/client/data.py
  examples/mnist-pytorch/client/data.py
Labels: fix

#721 Docs/SK-1085 | Update introduction page
  docs/aggregators.rst
  docs/apiclient.rst
  docs/architecture.rst
  docs/auth.rst
  docs/conf.py
  docs/developer.rst
  docs/faq.rst
  docs/fedn.network.api.rst
  docs/fedn.network.clients.rst
  docs/fedn.network.combiner.aggregators.rst
  docs/fedn.network.combiner.rst
  docs/fedn.network.controller.rst
  docs/fedn.network.loadbalancer.rst
  docs/fedn.network.rst
  docs/fedn.network.statestore.rst
  docs/fedn.network.storage.models.rst
  docs/fedn.network.storage.rst
  docs/fedn.network.storage.s3.rst
  docs/fedn.network.storage.statestore.rst
  docs/fedn.rst
  docs/fedn.utils.helpers.plugins.rst
  docs/fedn.utils.helpers.rst
  docs/fedn.utils.plugins.rst
  docs/fedn.utils.rst
  docs/helpers.rst
  docs/img/machine_learning_centralized_decentralized.svg
  docs/index.rst
  docs/introduction.rst
  docs/modules.rst
  docs/projects.rst
  docs/quickstart.rst
Labels: docs, minor

#724 Bugfix/SK-1099 | return status code 400 if model load goes wrong and print logger.error
  fedn/network/api/interface.py
Labels: fix, minor

#725 Feature/SK-1100 | Update the "What is Federated Machine Learning" text in the docs
  docs/introduction.rst
Labels: feature, docs, patch

#723 Feature/SK-1096 | Add set helper to v1 api
  fedn/network/api/v1/__init__.py
  fedn/network/api/v1/helper_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/shared.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/session_store.py
Labels: feature, minor

#722 Feature/SK-1071 | Initial refactor of client
  fedn/cli/client_cmd.py
  fedn/network/clients/client_api.py
  fedn/network/clients/client_v2.py
  fedn/network/clients/grpc_handler.py
  fedn/network/clients/package_runtime.py
Labels: feature, minor

#715 Docs/SK-1078 | Added virtual environment details in quickstart
  docs/conf.py
  docs/quickstart.rst
  docs/requirements.txt
Labels: docs, minor

#703 Feature/SK-971 | New object detection example
  examples/README.md
  examples/welding-defect-detection/README.md
  examples/welding-defect-detection/client/custom.yaml
  examples/welding-defect-detection/client/data.py
  examples/welding-defect-detection/client/fedn.yaml
  examples/welding-defect-detection/client/model.py
  examples/welding-defect-detection/client/python_env.yaml
  examples/welding-defect-detection/client/train.py
  examples/welding-defect-detection/client/validate.py
  examples/welding-defect-detection/figs/2clients_10epochs_25rounds.png
  examples/welding-defect-detection/figs/2clients_25epochs_10rounds.png
  examples/welding-defect-detection/figs/2clients_5epochs_50rounds.png
  examples/welding-defect-detection/figs/CentralizedmAP50.png
  examples/welding-defect-detection/figs/fig1.jpg
  examples/welding-defect-detection/figs/fig2.jpg
  examples/welding-defect-detection/figs/fig3.jpg
Labels: feature, HOLD, docs, minor

#727 Docs/SK-1104 | Fix length of meta tags (docs)
  docs/aggregators.rst
  docs/apiclient.rst
  docs/architecture.rst
  docs/auth.rst
  docs/conf.py
  docs/developer.rst
  docs/faq.rst
  docs/helpers.rst
  docs/index.rst
  docs/introduction.rst
  docs/modules.rst
  docs/projects.rst
  docs/quickstart.rst
Labels: docs

#728 Docs/SK-1105 | Optimize docs css
  docs/_static/css/elements.css
  docs/_static/css/text.css
  docs/_static/css/utilities.css
  docs/conf.py
Labels: feature, docs, minor

#730 Feature/SK-1106 | Added GET "/" and POST "/list" endpoints to prediction_routes
  fedn/network/api/v1/prediction_routes.py
  fedn/network/storage/statestore/stores/prediction_store.py
Labels: feature, minor

#731 Refactor/SK-1144 | Simplify on_train and on_validate
  fedn/network/clients/README.rst
  fedn/network/clients/client_api.py
  fedn/network/clients/client_v2.py
  fedn/network/clients/grpc_handler.py
Labels: minor
