Repository scaleoutsystems/fedn, pull requests merged in 2024-12, with the labels that each got.

#759 Feature/SK-1202 | Added log-in functionality
  fedn/cli/__init__.py
  fedn/cli/combiner_cmd.py
  fedn/cli/login_cmd.py
  fedn/utils/dist.py
Labels: feature, minor

#765 Bugfix/SK-1240 | Add sender to status message in TaskStream
  fedn/network/combiner/combiner.py
Labels: fix, patch

#767 Bugfix/SK-1242 | Only access created session if it is successfully created
  fedn/network/api/client.py
Labels: fix, patch

#766 Bugfix/SK-1241 | Fix missing ROLE and TYPE in client status messages
  fedn/network/clients/client.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
  fedn/network/combiner/combiner.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
Labels: fix, minor

#771 Feature/SK-1249 | Session start should return 400 if session is running
  fedn/network/api/v1/session_routes.py
Labels: feature, patch

#769 Bugfix/SK-811 | DP-SGD
  examples/mnist-pytorch-DPSGD/README.rst
  examples/mnist-pytorch-DPSGD/client/fedn.yaml
  examples/mnist-pytorch-DPSGD/client/train.py
  examples/mnist-pytorch-DPSGD/client_settings.yaml
Labels: fix, minor

#772 Bug/SK-1256 | Old API endpoint /get_package causes KeyError
  fedn/network/api/interface.py
Labels: fix, patch
