Repository scaleoutsystems/fedn, pull requests merged in 2024-08, with the labels that each got.

#671 Feature/SK-829 | Link to examples in readme
  README.rst
Labels: docs, minor

#670 Docs/SK-949 | Develop you own project update
  docs/projects.rst
Labels: docs, minor

#667 Bug/SK-931 | --preferred-combiner should not be boolean
  .github/workflows/branch-name-check.yaml
  examples/async-clients/run_clients.py
  fedn/cli/client_cmd.py
  fedn/cli/run_cmd.py
  fedn/network/combiner/roundhandler.py
  pyproject.toml
Labels: minor, github, patch

#672 Docs/SK-955 | Adding information about setting up environment variable.
  docs/apiclient.rst
Labels: docs, minor

#674 Docs/SK-000 | Clarify usage readme
  README.rst
Labels: patch

#683 Bugfix/SK-963 | preferred combiner fixed in client cmd
  fedn/cli/client_cmd.py
Labels: patch

#685 Bug/SK-964 | Fixes get_session request in APIClient
  fedn/network/api/client.py
Labels: fix

#687 Docs/SK-957 | Update example notebooks with fedn studio endpoints
  examples/notebooks/API_Example.ipynb
  examples/notebooks/Aggregators.ipynb
Labels: minor

#675 Docs/SK-958 | Improve docs
  docs/apiclient.rst
  docs/conf.py
  docs/developer.rst
  docs/helpers.rst
  docs/index.rst
  docs/introduction.rst
  docs/projects.rst
  docs/quickstart.rst
  docs/studio.rst
Labels: docs, minor

#688 Fix/SK-966 | Removing fire from python_env.yaml files
  examples/mnist-keras/client/python_env.yaml
  examples/mnist-keras/client/python_env_macosx.yaml
Labels: fix, patch
