Repository scaleoutsystems/fedn, pull requests merged in 2024-07, with the labels that each got.

#647 Feature/SK-923 | Improve continue session
  fedn/network/api/v1/session_routes.py
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/mongostatestore.py
Labels: feature, minor

#650 Bug/SK-928 | Fixes bug in find_available if-statement
  fedn/network/loadbalancer/leastpacked.py
Labels: bugfix, patch

#649 Feature/SK-918 | Add --version to fedn CLI
  fedn/cli/main.py
  fedn/common/config.py
  fedn/network/combiner/roundhandler.py
Labels: feature, minor

#648 Docs/SK-924 | Update quickstart guide
  docs/apiclient.rst
  docs/architecture.rst
  docs/developer.rst
  docs/distributed.rst
  docs/index.rst
  docs/projects.rst
  docs/quickstart.rst
  examples/mnist-keras/README.rst
  examples/mnist-pytorch/README.rst
Labels: docs, minor

#651 Feature/SK-932 | Add fedn controller start
  .github/workflows/code-checks.yaml
  docker-compose.yaml
  fedn/cli/__init__.py
  fedn/cli/controller_cmd.py
  fedn/cli/main.py
  fedn/common/config.py
  fedn/common/settings-controller.yaml.template
  fedn/network/api/server.py
  fedn/network/api/shared.py
  fedn/network/api/v1/shared.py
  fedn/utils/dist.py
Labels: feature, minor, github

#655 Bug/SK-937 | Update for previous clients fails, missing client_id
  fedn/network/combiner/combiner.py
Labels: fix, patch

#656 Bug/SK-938 | Fix KeyError for client_id
  .github/workflows/build-containers.yaml
  .github/workflows/push-to-pypi.yaml
  docs/conf.py
  fedn/network/storage/statestore/mongostatestore.py
  pyproject.toml
Labels: fix, patch

#654 Feature/SK-935 | Add fedn run startup
  fedn/cli/run_cmd.py
Labels: feature

#660 Docs/SK-943 | Updated README for FedSimSiam example
  examples/FedSimSiam/README.rst
  examples/FedSimSiam/figs/fedsimsiam_monitoring.png
Labels: docs, minor

#659 Docs/SK-942 | Updated README for huggingface example
  examples/huggingface/README.rst
  examples/huggingface/figs/hf_figure.png
Labels: minor

#652 Docs/SK-000 | Update main readme
  README.rst
Labels: docs, minor

#665 Docs/SK-000 | Update main readme
  README.rst
Labels: minor
