Repository scaleoutsystems/fedn, pull requests merged in 2024-06, with the labels that each got.

#623 Feature/SK-896 | Add dependabot.yml
  .github/dependabot.yml
Labels: dependencies

#630 Github/SK-897 | Add release-drafter and labeler
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/branch-name-check.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pr_size_labeler.yaml
  .github/workflows/release-drafter.yml
Labels: github, patch

#629 Update faq.rst
  docs/faq.rst
Labels: docs

#632 Feature/SK-871 | Enable updating models via the API
  fedn/network/api/v1/model_routes.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/store.py
Labels: feature, minor, patch

#631 Feature/SK-898 | Add presigned put url to inference workflow
  examples/mnist-pytorch/client/fedn.yaml
  examples/mnist-pytorch/client/predict.py
  fedn/network/clients/client.py
  fedn/network/clients/state.py
  fedn/network/combiner/combiner.py
  fedn/network/storage/s3/repository.py
Labels: feature, minor

#637 Bug/SK-894 | Information exposure through an exception
  fedn/network/api/interface.py
  fedn/network/api/server.py
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/round_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/api/v1/status_routes.py
  fedn/network/api/v1/validation_routes.py
Labels: fix, minor

#636 Fix/SK-905 | Don't allow v8.4.0 of tenacity
  pyproject.toml
Labels: dependencies, patch

#635 Fix/SK-904 | Uncontrolled data used in path expression
  fedn/network/api/interface.py
Labels: fix, patch

#634 Fix/SK-903 | Clear-text logging of sensitive information
  .github/workflows/branch-name-check.yaml
  fedn/network/api/interface.py
  fedn/network/grpc/server.py
Labels: fix, patch

#640 Feature/SK-599 | Add PUT and PATCH to /sessions API
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/storage/statestore/stores/session_store.py
Labels: feature, minor

#642 Feature/SK-873 | Remove plots.py
  docs/fedn.network.dashboard.rst
  fedn/network/api/interface.py
  fedn/network/api/server.py
  fedn/utils/plots.py
Labels: feature, docs

#645 Feature/SK-916 | Get active model id
  fedn/network/api/v1/model_routes.py
  fedn/network/storage/statestore/stores/model_store.py
Labels: feature, minor

#641 Feature/SK-911 | Add terminate session to controller
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/mongostatestore.py
Labels: feature, minor

#638 Feature/SK-751 | Clients should have unique IDs
  fedn/genprot.sh
  fedn/network/api/interface.py
  fedn/network/api/network.py
  fedn/network/clients/client.py
  fedn/network/clients/connect.py
  fedn/network/combiner/combiner.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2_grpc.py
  fedn/network/storage/statestore/mongostatestore.py
Labels: feature, minor

#646 Docs/SK-901: Fixes related to README format
  examples/monai-2D-mednist/README.rst
  examples/monai-2D-mednist/client/data.py
  examples/monai-2D-mednist/client/python_env.yaml
  examples/monai-2D-mednist/client/train.py
  examples/monai-2D-mednist/client/validate.py
  examples/monai-2D-mednist/client_settings.yaml
  examples/monai-2D-mednist/docker-compose.override.yaml
  examples/monai-2D-mednist/prepare_data.py
  examples/monai-2D-mednist/requirements.txt
Labels: docs, minor
