Repository scaleoutsystems/fedn, pull requests merged in 2024-09, with the labels that each got.

#690 Docs/SK-969 | Add sphinx_design
  docs/requirements.txt
Labels: docs, patch

#661 Feature/SK-944 + SK-934 | Add flag for deleting the virtual env
  fedn/cli/client_cmd.py
  fedn/cli/controller_cmd.py
  fedn/cli/run_cmd.py
  fedn/cli/tests/tests.py
  fedn/network/api/gunicorn_app.py
  fedn/network/api/server.py
  pyproject.toml
Labels: feature, minor

#691 Feature/SK-972 | Suggested changes to quick start guide
  docs/img/studio_model_overview.png
  docs/quickstart.rst
Labels: feature, docs, minor

#692 Docs/SK-973 | Removed CSS rule to unhide bullet points in unordered lists
  docs/_static/css/elements.css
Labels: docs, patch

#693 Feature/SK-933 | Add delete combiner/client to Api
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/store.py
Labels: feature, minor

#696 Feature/SK-998 | Add get number of active clients connected to /v1 api
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/api/v1/shared.py
  fedn/network/storage/statestore/stores/client_store.py
Labels: feature

#695 Feature/SK-992 | Update the copyright year of FEDn in the docs
  LICENSE
  docs/conf.py
Labels: feature, docs, patch

#694 Docs/SK-956 | Update docs to include new CLI entrypoints commands
  docs/projects.rst
Labels: docs, patch

#700 Feature/SK-1002 | Look over SEO for FEDn docs
  docs/aggregators.rst
  docs/apiclient.rst
  docs/architecture.rst
  docs/conf.py
  docs/developer.rst
  docs/faq.rst
  docs/helpers.rst
  docs/introduction.rst
  docs/projects.rst
  docs/quickstart.rst
  docs/requirements.txt
Labels: feature, docs, minor

#698 Feature/SK-811 | Example using Differential Privacy
  examples/mnist-pytorch-DPSGD/README.rst
  examples/mnist-pytorch-DPSGD/client/data.py
  examples/mnist-pytorch-DPSGD/client/fedn.yaml
  examples/mnist-pytorch-DPSGD/client/model.py
  examples/mnist-pytorch-DPSGD/client/python_env.yaml
  examples/mnist-pytorch-DPSGD/client/train.py
  examples/mnist-pytorch-DPSGD/client/validate.py
Labels: feature, minor

#701 Fix/SK-1025 | Fix torch dependencies based on arch
  examples/FedSimSiam/client/python_env.yaml
  examples/flower-client/client/python_env.yaml
  examples/huggingface/client/python_env.yaml
  examples/mnist-pytorch-DPSGD/client/python_env.yaml
  examples/mnist-pytorch/client/python_env.yaml
  examples/monai-2D-mednist/client/python_env.yaml
  fedn/network/combiner/shared.py
  fedn/network/storage/s3/repository.py
Labels: fix, minor

#702 Feature/SK-996 | 
  fedn/common/config.py
  fedn/network/api/interface.py
  fedn/network/storage/statestore/mongostatestore.py
Labels: feature, minor

#706 Feature/SK-1039 | Add upload, activate & deactivate package to fedn api v1
  fedn/common/config.py
  fedn/network/api/interface.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/shared.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/package_store.py
Labels: feature, minor

#708 Feature/SK-1050 | Add set active model to /api/v1
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/storage/statestore/stores/model_store.py
Labels: feature, minor

#707 Bugfix/SK-1048 | Logs about grpc stream and heartbeat back online
  fedn/network/clients/client.py
Labels: fix, patch

#709 Feature/SK-948 | Combiner config flags in fedn client
  fedn/cli/client_cmd.py
  fedn/network/clients/client.py
Labels: feature, minor

#710 Bugfix/SK-1063 | Update sys_platform for windows in environment markers
  examples/FedSimSiam/client/python_env.yaml
  examples/flower-client/client/python_env.yaml
  examples/huggingface/client/python_env.yaml
  examples/mnist-pytorch-DPSGD/client/python_env.yaml
  examples/mnist-pytorch/client/python_env.yaml
  examples/monai-2D-mednist/client/python_env.yaml
Labels: fix

#713 Feature/SK-1073 | Add SEO meta tags to docs
  docs/introduction.rst
  docs/quickstart.rst
Labels: feature, docs

#711 Feature/SK-895 | Use the system's default cert store
  fedn/network/clients/client.py
Labels: feature, minor
