Repository scaleoutsystems/fedn, pull requests merged in 2025-05, with the labels that each got.

#907 Feature/SK-1590 | Add ability to filter for null and grater than (etc) values in stores
  fedn/cli/project_cmd.py
  fedn/network/api/tests.py
  fedn/network/api/v1/README.md
  fedn/network/api/v1/__init__.py
  fedn/network/api/v1/analytic_routes.py
  fedn/network/api/v1/prediction_routes.py
  fedn/network/api/v1/run_routes.py
  fedn/network/api/v1/telemetry_routes.py
  fedn/network/api/v1/training_run_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/controller/control.py
  fedn/network/storage/dbconnection.py
  fedn/network/storage/statestore/stores/__init__.py
  fedn/network/storage/statestore/stores/analytic_store.py
  fedn/network/storage/statestore/stores/dto/__init__.py
  fedn/network/storage/statestore/stores/dto/analytic.py
  fedn/network/storage/statestore/stores/dto/run.py
  fedn/network/storage/statestore/stores/run_store.py
  fedn/network/storage/statestore/stores/store.py
Labels: feature, docs, minor

#908 Bugfix/SK-1591 | MongoClient was initialized before fork
  fedn/network/api/gunicorn_app.py
  fedn/network/api/server.py
  fedn/network/storage/dbconnection.py
Labels: fix, minor

#910 Feature/SK-1579 | Add a field 'updated_at' similar to 'committed_at'
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/store.py
  fedn/tests/stores/test_attribute_store.py
  fedn/tests/stores/test_client_store.py
  fedn/tests/stores/test_combiner_store.py
  fedn/tests/stores/test_metric_store.py
  fedn/tests/stores/test_model_store.py
  fedn/tests/stores/test_package_store.py
  fedn/tests/stores/test_prediction_store.py
  fedn/tests/stores/test_round_store.py
  fedn/tests/stores/test_status_store.py
  fedn/tests/stores/test_validation_store.py
Labels: feature, minor, patch

#915 Feature/SK-1598 | Integrate OpenTelemetry with controller, combiner
  fedn/common/log_config.py
  pyproject.toml
Labels: feature, minor

#918 Bugfix/SK-1602 | Telemetries are not getting cleared
  fedn/network/clients/grpc_handler.py
  fedn/network/storage/statestore/stores/telemetry_store.py
Labels: fix, patch

#912 Feature/SK-1595 | Api client for server functions + example
  examples/server-functions/README.rst
  examples/server-functions/send_attributes.py
  examples/server-functions/server_functions.py
  examples/server-functions/sf_incremental_aggregation.py
  fedn/network/api/client.py
  fedn/network/combiner/hooks/allowed_import.py
  fedn/network/combiner/hooks/hooks.py
  fedn/network/combiner/roundhandler.py
Labels: feature, minor, patch

#914 Feature/SK-1580 | Read json from request more robustly
  fedn/network/api/v1/prediction_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/api/v1/telemetry_routes.py
Labels: feature, minor

#909 Feature/SK-1364 | Start existing session via API Client
  fedn/network/api/client.py
Labels: feature, minor

#919 Feature/SK-1605 | Improved error handling and grpc retries in python client
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
  fedn/network/combiner/combiner.py
Labels: feature, minor

#776 Feature/SK-1261 | Split Learning in FEDn
  Dockerfile
  examples/splitlearning_diabetes/.dockerignore
  examples/splitlearning_diabetes/client/.fednignore
  examples/splitlearning_diabetes/client/backward.py
  examples/splitlearning_diabetes/client/data.py
  examples/splitlearning_diabetes/client/fedn.yaml
  examples/splitlearning_diabetes/client/forward.py
  examples/splitlearning_diabetes/client/model.py
  examples/splitlearning_diabetes/client/python_env.yaml
  examples/splitlearning_diabetes/data/diabetes.csv
  examples/splitlearning_diabetes/docker-compose.override.dev.yaml
  examples/splitlearning_diabetes/docker-compose.override.yaml
  examples/splitlearning_diabetes/readme.rst
  examples/splitlearning_diabetes/run_splitlearning.ipynb
  fedn/network/api/client.py
  fedn/network/api/v1/session_routes.py
  fedn/network/clients/client_v2.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
  fedn/network/combiner/aggregators/splitlearningagg.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/roundhandler.py
  fedn/network/combiner/updatehandler.py
  fedn/network/controller/control.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2_grpc.py
  fedn/network/storage/statestore/stores/dto/round.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/utils/helpers/plugins/splitlearninghelper.py
Labels: feature, minor

#920 Feature/SK-1609 | Only init OTEL if configured, init tracer
  fedn/common/log_config.py
  fedn/network/api/v1/package_routes.py
Labels: feature, minor

#921 Docs/SK-1613 | Updating Split Learning Example Docs
  examples/splitlearning_diabetes/readme.rst
  examples/splitlearning_diabetes/run_splitlearning.ipynb
Labels: minor

#924 Fix/SK-1615 | Update load-test to take float factor for array size
  examples/load-test/client/model.py
Labels: fix, patch

#927 Bug/SK-1628 | sender_id index should be sender.client_id
  fedn/network/storage/statestore/stores/telemetry_store.py
Labels: fix, patch

#926 Feature/SK-1612 | Tracking model_updates with correlation_id
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
  fedn/network/clients/task_receiver.py
  fedn/network/combiner/aggregators/aggregatorbase.py
  fedn/network/combiner/aggregators/fedavg.py
  fedn/network/combiner/aggregators/fedopt.py
  fedn/network/combiner/aggregators/splitlearningagg.py
  fedn/network/combiner/aggregators/tests/test_fedavg.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/hooks/hook_client.py
  fedn/network/combiner/modelservice.py
  fedn/network/combiner/roundhandler.py
  fedn/network/combiner/task_sender.py
  fedn/network/combiner/updatehandler.py
  fedn/network/controller/control.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2.pyi
  fedn/network/grpc/fedn_pb2_grpc.py
  fedn/network/storage/models/memorymodelstorage.py
  fedn/network/storage/models/modelstorage.py
  fedn/network/storage/models/tempmodelstorage.py
  fedn/network/storage/statestore/stores/dto/session.py
  fedn/network/storage/statestore/stores/dto/task.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/validation_store.py
Labels: feature, minor

#930 Chore/SK-1631 | Add multi-arch builds to fedn image
  .github/workflows/build-containers.yaml
Labels: minor, github
