Repository scaleoutsystems/fedn, pull requests merged in 2025-04, with the labels that each got.

#857 Docs/SK-1506 | API References update
  .readthedocs.yaml
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/apiclient.rst
  docs/conf.py
  docs/fedn.network.api.rst
  docs/fedn.network.clients.rst
  docs/fedn.network.combiner.aggregators.rst
  docs/fedn.network.combiner.rst
  docs/fedn.network.controller.rst
  docs/fedn.network.loadbalancer.rst
  docs/fedn.network.rst
  docs/fedn.network.statestore.rst
  docs/fedn.network.storage.models.rst
  docs/fedn.network.storage.rst
  docs/fedn.network.storage.s3.rst
  docs/fedn.network.storage.statestore.rst
  docs/fedn.rst
  docs/fedn.utils.helpers.plugins.rst
  docs/fedn.utils.helpers.rst
  docs/fedn.utils.plugins.rst
  docs/fedn.utils.rst
  docs/img/find_controller_url.png
  docs/img/generate_admin_token.png
  docs/modules.rst
Labels: docs, minor

#860 Feature/SK-1512 | Test server functions locally
  examples/server-functions/README.rst
  examples/server-functions/test_locally.py
  fedn/network/combiner/hooks/hooks.py
  fedn/network/combiner/hooks/serverfunctionsbase.py
  fedn/network/combiner/hooks/serverfunctionstest.py
Labels: feature, minor

#866 Feature/SK-1520 | Added SendModelMetric gRPC call
  .vscode/launch.json
  examples/pytorch-keyworddetection-api/README.rst
  examples/pytorch-keyworddetection-api/client_sc.py
  examples/pytorch-keyworddetection-api/fedn_api.py
  examples/pytorch-keyworddetection-api/main.py
  examples/pytorch-keyworddetection-api/sc_client.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/shared.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2_grpc.py
  fedn/network/storage/statestore/stores/dto/metric.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/store.py
Labels: feature, minor

#874 Feature/SK-1522 | Add metric routes
  fedn/network/api/shared.py
  fedn/network/api/tests.py
  fedn/network/api/v1/__init__.py
  fedn/network/api/v1/metric_routes.py
Labels: feature

#872 Fix/SK-1533 | log_metric client fixes
  examples/pytorch-keyworddetection-api/README.rst
  examples/pytorch-keyworddetection-api/data.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
Labels: fix, minor

#879 Bug/SK-1544 | Models PATCH updates incorrectly
  fedn/network/api/v1/model_routes.py
  fedn/network/storage/statestore/stores/model_store.py
Labels: fix, minor

#873 Fix/SK-1534 | Allow failed rounds without models
  fedn/network/storage/statestore/stores/dto/round.py
Labels: fix, patch

#881 Bug/SK-1545 | client_settings added to dbs
  fedn/network/storage/statestore/stores/dto/round.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/tests/stores/test_round_store.py
Labels: fix, patch

#878 Feature/SK-1541 | Add update project cli feature
  fedn/cli/project_cmd.py
Labels: feature, minor

#867 Docs/SK-1509 | Documentation for Local Compute
  docs/index.rst
  docs/localcompute.rst
  examples/api-tutorials/Local_Package_Api_Example.ipynb
Labels: docs

#882 Feature/SK-1546 | Added attributes GRPC calls
  fedn/network/api/v1/client_routes.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
  fedn/network/combiner/combiner.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2_grpc.py
Labels: feature

#883 Fix/SK-1547 | Fixing Huggingface train.py imports
  examples/huggingface/client/train.py
Labels: fix, minor

#884 Docs/SK-1550 | Updating Notebook Link
  docs/localcompute.rst
Labels: docs

#886 Feature/SK-1368 | Move resources from shared.py in to singleton classes
  fedn/cli/combiner_cmd.py
  fedn/cli/run_cmd.py
  fedn/network/api/network.py
  fedn/network/api/server.py
  fedn/network/api/shared.py
  fedn/network/api/tests.py
  fedn/network/api/v1/analytic_routes.py
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/api/v1/graphql/schema.py
  fedn/network/api/v1/helper_routes.py
  fedn/network/api/v1/metric_routes.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/prediction_routes.py
  fedn/network/api/v1/round_routes.py
  fedn/network/api/v1/run_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/api/v1/status_routes.py
  fedn/network/api/v1/training_run_routes.py
  fedn/network/api/v1/validation_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/modelservice.py
  fedn/network/combiner/roundhandler.py
  fedn/network/combiner/shared.py
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/grpc/server.py
  fedn/network/storage/dbconnection.py
  fedn/network/storage/statestore/stores/__init__.py
  fedn/network/storage/statestore/stores/dto/__init__.py
  fedn/tests/stores/helpers/database_helper.py
Labels: feature, minor

#890 Feature/SK-1051 | Add prefix for models
  fedn/network/api/v1/session_routes.py
  fedn/network/controller/control.py
Labels: feature, minor

#888 Feature/SK-1561 | Server functions running aggregate and bugfixes
  examples/server-functions/server_functions_running_agg.py
  fedn/network/combiner/hooks/hook_client.py
  fedn/network/combiner/hooks/hooks.py
  fedn/network/combiner/hooks/serverfunctionsbase.py
  fedn/network/combiner/roundhandler.py
Labels: feature, minor

#894 Bug/SK-1565 | Fixed argument name in project create cli function
  fedn/cli/project_cmd.py
Labels: fix, minor

#892 Feature/SK-1381 | Add committed_at as a field for all table stores and use this as a base for all orderings
  fedn/network/storage/statestore/stores/attribute_store.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/metric_store.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/prediction_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/run_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/network/storage/statestore/stores/store.py
  fedn/network/storage/statestore/stores/validation_store.py
  fedn/tests/stores/test_client_store.py
Labels: feature, minor

#895 Feature/SK-1570 | Send client id with validations
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
Labels: feature, patch

#893 Feature/SK-1563 | Remove the active model concept
  fedn/cli/session_cmd.py
  fedn/network/api/client.py
  fedn/network/api/server.py
  fedn/network/api/v1/model_routes.py
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/stores/model_store.py
Labels: feature, minor

#875 Bug/SK-1467 | Mismatch in click.option input and method argument for repository
  fedn/cli/session_cmd.py
Labels: fix

#876 Feature/SK-1449 | list projects with info in tabular format
  fedn/cli/project_cmd.py
  fedn/cli/shared.py
Labels: feature, minor

#902 Bug/SK-1582 | Running client.get_model_trail() returns only one model when should return multiple
  .ci/tests/examples/api_test.py
  fedn/network/api/client.py
Labels: fix, minor, patch

#904 Feature/SK-1361 | Write test for all API GET routes
  .github/workflows/test-api-endpoints.yaml
  fedn/network/api/tests.py
  fedn/network/api/v1/metric_routes.py
Labels: feature, minor, github

#903 Feature/SK-1585 | Start comparing response in api client tests (count, length of lists)
  .ci/tests/examples/api_test.py
Labels: feature, minor

#901 Bug/SK-1581 | Telemetry_bp is missing from routes
  fedn/network/api/v1/__init__.py
Labels: fix

#906 Bug/SK-1589 | Race condition in project create
  fedn/cli/project_cmd.py
Labels: fix, patch
