Repository scaleoutsystems/fedn, pull requests merged in 2025-06, with the labels that each got.

#929 Feature/SK-1622 | Rework timeout and canceling on combiner
  fedn/network/combiner/combiner.py
  fedn/network/combiner/interfaces.py
  fedn/network/combiner/roundhandler.py
  fedn/network/combiner/updatehandler.py
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2.pyi
Labels: feature, minor, github

#936 Bugfix/SK-1642 | Fix repository printing binary data
  fedn/network/storage/s3/boto3repository.py
  fedn/network/storage/s3/saasrepository.py
Labels: fix, patch

#937 Feature/SK-1644 | Default client log level to INFO
  fedn/cli/client_cmd.py
Labels: feature, minor, patch

#945 Chore/SK-1661 | Update CI tests and cli models
  .ci/tests/studio/studio.sh
  fedn/cli/model_cmd.py
Labels: minor, github

#947 Feature/SK-1664 | Expand graphql schema
  fedn/network/api/v1/graphql/schema.py
Labels: feature, minor

#957 Feature/SK-1682 | Change token hierarchy: provided -> from fedn project file -> from env
  fedn/cli/shared.py
Labels: feature, patch

#938 Feature/SK-1643 | Reducing boilerplate for tests on stores
  fedn/network/storage/statestore/stores/dto/__init__.py
  fedn/network/storage/statestore/stores/dto/run.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/run_store.py
  fedn/tests/stores/conftest.py
  fedn/tests/stores/test_attribute_store.py
  fedn/tests/stores/test_client_store.py
  fedn/tests/stores/test_combiner_store.py
  fedn/tests/stores/test_metric_store.py
  fedn/tests/stores/test_model_store.py
  fedn/tests/stores/test_package_store.py
  fedn/tests/stores/test_prediction_store.py
  fedn/tests/stores/test_round_store.py
  fedn/tests/stores/test_run_store.py
  fedn/tests/stores/test_session_store.py
  fedn/tests/stores/test_status_store.py
  fedn/tests/stores/test_store.py
  fedn/tests/stores/test_telemetry_store.py
  fedn/tests/stores/test_validation_store.py
Labels: feature, minor
