Repository scaleoutsystems/fedn, pull requests merged in 2025-08, with the labels that each got.

#981 Feature/SK-1024 | Implement EU-compliant analytics (docs)
  docs/conf.py
Labels: feature, docs, minor, patch

#979 Bug/SK-1646 | An unexpected error occurred: 'list' object has no attribute 'items' (session_routes)
  fedn/network/api/v1/shared.py
Labels: fix

#974 Feature/SK-1703 | Extra dependencies on github build container action
  .github/workflows/build-containers.yaml
  Dockerfile
  examples/splitlearning_diabetes/docker-compose.override.dev.yaml
  examples/splitlearning_diabetes/docker-compose.override.yaml
Labels: feature, minor, github

#986 Fix/SK-1718 | Errors prints correctly in server functions
  fedn/network/combiner/hooks/hook_client.py
  fedn/network/combiner/hooks/hooks.py
Labels: fix, minor
