Repository scaleoutsystems/fedn, pull requests merged in 2025-09, with the labels that each got.

#993 Feature/SK-000 | Add config to create bucket and get region from AWS envs
  docs/conf.py
  fedn/network/storage/s3/boto3repository.py
  pyproject.toml
Labels: docs, minor

#989 Feature/SK-1683 | Cleaning model handling within Fedn
  .ci/tests/examples/print_logs.sh
  .github/workflows/integration-tests.yaml
  fedn/network/api/v1/model_routes.py
  fedn/network/clients/grpc_handler.py
  fedn/network/combiner/aggregators/fedavg.py
  fedn/network/combiner/aggregators/fedopt.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/hooks/hook_client.py
  fedn/network/combiner/hooks/hooks.py
  fedn/network/combiner/hooks/serverfunctionstest.py
  fedn/network/combiner/modelservice.py
  fedn/network/combiner/roundhandler.py
  fedn/network/combiner/updatehandler.py
  fedn/network/common/network.py
  fedn/network/controller/control.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2.pyi
  fedn/network/grpc/fedn_pb2_grpc.py
  fedn/network/storage/models/tempmodelstorage.py
  fedn/network/storage/s3/boto3repository.py
  fedn/network/storage/s3/miniorepository.py
  fedn/network/storage/s3/repository.py
  fedn/network/storage/s3/saasrepository.py
  fedn/utils/checksum.py
  fedn/utils/helpers/plugins/androidhelper.py
  fedn/utils/helpers/plugins/splitlearninghelper.py
  fedn/utils/model.py
Labels: feature, minor, github

#991 Feature/SK-1659 | Enable combiner to control tasks on client
  examples/pytorch-keyworddetection-api/sc_client.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/task_receiver.py
  fedn/network/combiner/clientmanager.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/roundhandler.py
  fedn/network/combiner/task_sender.py
  fedn/network/combiner/updatehandler.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2.pyi
Labels: feature, minor

#996 Fix/SK-1727 | Change to urljoin
  fedn/network/clients/fedn_client.py
Labels: fix, patch

#1006 Fix/SK-1730 | Reset client updates on crash
  fedn/network/combiner/hooks/grpc_wrappers.py
Labels: feature, patch
