Repository scaleoutsystems/fedn, pull requests merged in 2025-03, with the labels that each got.

#832 Feature/SK-1462 | Add Combiner DTO
  fedn/network/api/network.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/dto/__init__.py
  fedn/network/storage/statestore/stores/dto/combiner.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/tests/stores/test_combiner_store.py
Labels: feature, minor

#833 Chore/SK-1468 | Add new CI tests with integration with studio
  .ci/tests/studio/no_pytest.py
  .ci/tests/studio/requirements.txt
  .ci/tests/studio/studio.sh
  .ci/tests/studio/tests.py
  .github/workflows/integration-test-studio.yaml
  fedn/cli/shared.py
  fedn/network/api/client.py
Labels: minor, github

#834 Feature/SK-1466 | Add Package DTO
  fedn/network/api/shared.py
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/helper_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/stores/dto/__init__.py
  fedn/network/storage/statestore/stores/dto/package.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/tests/stores/test_package_store.py
Labels: feature, minor

#837 Feature/SK-1473 | Store memory and cpu utilisation of clients
  fedn/network/clients/grpc_handler.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/shared.py
  fedn/network/grpc/fedn.proto
  fedn/network/grpc/fedn_pb2.py
  fedn/network/grpc/fedn_pb2_grpc.py
  fedn/network/storage/statestore/stores/analytic_store.py
Labels: feature

#838 Feature/SK-1475 | Only add analytics if not None
  fedn/network/combiner/combiner.py
Labels: feature, minor

#840 Feature/SK-1479 | Limit analytics db size
  fedn/network/storage/statestore/stores/analytic_store.py
Labels: feature, patch

#842 Feature/SK-1481 | Added Status DTO
  fedn/network/api/v1/graphql/schema.py
  fedn/network/api/v1/status_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/storage/statestore/stores/dto/__init__.py
  fedn/network/storage/statestore/stores/dto/prediction.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/dto/status.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/tests/stores/conftest.py
  fedn/tests/stores/helpers/database_helper.py
  fedn/tests/stores/test_client_store.py
  fedn/tests/stores/test_combiner_store.py
  fedn/tests/stores/test_model_store.py
  fedn/tests/stores/test_package_store.py
  fedn/tests/stores/test_prediction_store.py
  fedn/tests/stores/test_session_store.py
  fedn/tests/stores/test_status_store.py
Labels: feature, minor

#835 Bug/SK-1469 | Fixed bug with prediction not using the client subselection
  fedn/network/combiner/combiner.py
Labels: patch

#843 Feature/SK-1482 | Add Validation DTO
  .ci/tests/studio/precreate_projects.sh
  .ci/tests/studio/tests.py
  fedn/network/api/v1/graphql/schema.py
  fedn/network/api/v1/validation_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/controller/control.py
  fedn/network/storage/statestore/stores/dto/client.py
  fedn/network/storage/statestore/stores/dto/combiner.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/dto/validation.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/validation_store.py
  fedn/tests/stores/test_validation_store.py
  pyproject.toml
Labels: feature, minor

#846 Bug/SK-1495 | Start session from api client has incorrect documentation
  docs/apiclient.rst
  fedn/__init__.py
  fedn/network/__init__.py
  fedn/network/api/__init__.py
  fedn/network/api/client.py
  fedn/network/clients/__init__.py
  fedn/network/combiner/aggregators/__init__.py
  fedn/network/controller/__init__.py
  fedn/utils/__init__.py
  fedn/utils/helpers/__init__.py
Labels: docs, fix, minor, patch

#847 Feature/SK-1494 | Added round DTO
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/round_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/combiner/roundhandler.py
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/stores/dto/model.py
  fedn/network/storage/statestore/stores/dto/round.py
  fedn/network/storage/statestore/stores/dto/session.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/validation_store.py
  fedn/tests/stores/test_client_store.py
  fedn/tests/stores/test_combiner_store.py
  fedn/tests/stores/test_model_store.py
  fedn/tests/stores/test_package_store.py
  fedn/tests/stores/test_prediction_store.py
  fedn/tests/stores/test_round_store.py
  fedn/tests/stores/test_session_store.py
  fedn/tests/stores/test_status_store.py
  fedn/tests/stores/test_validation_store.py
Labels: feature, minor

#848 Fix/SK-1499 | Minor docs and example code update to Server functions
  docs/serverfunctions.rst
  examples/server-functions/README.rst
  examples/server-functions/client/train.py
  examples/server-functions/start_sf_session.py
Labels: docs, fix, minor

#850 Feature/SK-1300 | Add unit test workflow for api endpoints
  .github/workflows/test-api-endpoints.yaml
Labels: feature, minor, github

#774 Feature/SK-1257 | Bugfixes and improvements of combiner, and new load test
  examples/cifar100/.gitignore
  examples/cifar100/config.py
  examples/cifar100/data.py
  examples/cifar100/init_fedn.py
  examples/cifar100/init_seed.py
  examples/cifar100/requirements.txt
  examples/cifar100/run_client.py
  examples/load-test/.gitignore
  examples/load-test/README.md
  examples/load-test/client/fedn.yaml
  examples/load-test/client/model.py
  examples/load-test/client/train.py
  examples/load-test/client/validate.py
  examples/load-test/requirements.txt
  examples/mnist-pytorch/client/train.py
  fedn/network/clients/client_v2.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
  fedn/network/combiner/aggregators/fedavg.py
  fedn/network/combiner/aggregators/fedopt.py
  fedn/network/combiner/modelservice.py
  fedn/network/combiner/roundhandler.py
  fedn/network/grpc/server.py
Labels: feature, minor

#856 Feature/SK-1510 | Add ENV for setting home dir
  fedn/cli/login_cmd.py
  fedn/cli/project_cmd.py
  fedn/cli/shared.py
Labels: feature, minor

#855 Feature/SK-1496 | Integrated validation feedback via exceptions
  .ci/tests/examples/run.sh
  fedn/network/api/tests.py
  fedn/network/api/v1/analytic_routes.py
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/api/v1/status_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/roundhandler.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/stores/analytic_store.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/dto/analytic.py
  fedn/network/storage/statestore/stores/dto/client.py
  fedn/network/storage/statestore/stores/dto/combiner.py
  fedn/network/storage/statestore/stores/dto/model.py
  fedn/network/storage/statestore/stores/dto/package.py
  fedn/network/storage/statestore/stores/dto/prediction.py
  fedn/network/storage/statestore/stores/dto/round.py
  fedn/network/storage/statestore/stores/dto/session.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/dto/status.py
  fedn/network/storage/statestore/stores/dto/validation.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/prediction_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/shared.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/network/storage/statestore/stores/store.py
  fedn/network/storage/statestore/stores/validation_store.py
  fedn/tests/stores/test_client_store.py
  fedn/tests/stores/test_combiner_store.py
  fedn/tests/stores/test_model_store.py
  fedn/tests/stores/test_package_store.py
  fedn/tests/stores/test_prediction_store.py
  fedn/tests/stores/test_round_store.py
  fedn/tests/stores/test_session_store.py
  fedn/tests/stores/test_status_store.py
  fedn/tests/stores/test_validation_store.py
Labels: feature, minor, github

#852 Docs/SK-1507 | Update index and introduction pages
  docs/index.rst
  docs/introduction.rst
Labels: docs, minor

#851 Docs/SK-1505 | Update developer guide
  docs/developer.rst
Labels: docs, minor

#861 Chore/SK-1514 | Add load-test with configure array size to CI tests
  .github/workflows/integration-test-studio.yaml
  examples/load-test/client/fedn.yaml
  examples/load-test/client/model.py
  examples/load-test/client/python_env.yaml
  examples/load-test/client/validate.py
Labels: minor, github

#863 Bug/SK-1517 | DTO finding
  fedn/network/api/v1/client_routes.py
  fedn/network/storage/statestore/stores/prediction_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/network/storage/statestore/stores/validation_store.py
Labels: fix, minor
