Repository scaleoutsystems/fedn, pull requests merged in 2025-02, with the labels that each got.

#807 Feature/SK-1367 | Refactor the creation of the databaseconnection
  fedn/network/api/shared.py
  fedn/network/combiner/shared.py
  fedn/network/storage/dbconnection.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/prediction_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/network/storage/statestore/stores/store.py
  fedn/network/storage/statestore/stores/validation_store.py
Labels: feature, minor

#793 Feature/SK-1330 | Use host cert store instead of downloading cert
  fedn/network/clients/grpc_handler.py
Labels: feature, minor

#801 Feature/SK-1254 | add .fednignore for fedn package
  .ci/tests/examples/run.sh
  docker-compose.yaml
  docs/projects.rst
  examples/FedSimSiam/client/.fednignore
  examples/FedSimSiam/client/python_env.yaml
  examples/FedSimSiam/docker-compose.override.yaml
  examples/flower-client/client/.fednignore
  examples/flower-client/client/python_env.yaml
  examples/huggingface/client/.fednignore
  examples/huggingface/client/python_env.yaml
  examples/huggingface/docker-compose.override.yaml
  examples/mnist-keras/client/.fednignore
  examples/mnist-keras/client/python_env.yaml
  examples/mnist-keras/client/python_env_macosx.yaml
  examples/mnist-pytorch-DPSGD/client/.fednignore
  examples/mnist-pytorch-DPSGD/client/python_env.yaml
  examples/mnist-pytorch/client/.fednignore
  examples/mnist-pytorch/client/python_env.yaml
  examples/mnist-pytorch/docker-compose.override.yaml
  examples/monai-2D-mednist/client/.fednignore
  examples/monai-2D-mednist/client/python_env.yaml
  examples/server-functions/client/.fednignore
  examples/server-functions/client/python_env.yaml
  examples/server-functions/docker-compose.override.yaml
  examples/welding-defect-detection/client/.fednignore
  examples/welding-defect-detection/client/python_env.yaml
  fedn/cli/package_cmd.py
  fedn/cli/tests/tests.py
Labels: feature, minor

#802 Chore/SK-1354 | Fix ignored ruff linting rules in network.clients module
  .github/workflows/branch-name-check.yaml
  fedn/network/clients/client_v2.py
  fedn/network/clients/connect.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/grpc_handler.py
  fedn/network/clients/package_runtime.py
  fedn/network/clients/state.py
  fedn/network/clients/test_client.py
Labels: minor, github

#805 Feature/SK-1356 | Added example of keyword detection using client api
  examples/pytorch-keyworddetection-api/.gitignore
  examples/pytorch-keyworddetection-api/README.rst
  examples/pytorch-keyworddetection-api/client_sc.py
  examples/pytorch-keyworddetection-api/data.py
  examples/pytorch-keyworddetection-api/env.yaml
  examples/pytorch-keyworddetection-api/fedn_api.py
  examples/pytorch-keyworddetection-api/model.py
  examples/pytorch-keyworddetection-api/requirements.txt
  examples/pytorch-keyworddetection-api/settings.py
  examples/pytorch-keyworddetection-api/util.py
Labels: feature, minor

#808 Feature/SK-1289 | Added test for store list functionality
  .vscode/launch.json
  .vscode/settings.json
  fedn/network/storage/dbconnection.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/prediction_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/network/storage/statestore/stores/validation_store.py
  fedn/tests/stores/__init__.py
  fedn/tests/stores/conftest.py
  fedn/tests/stores/helpers/database_helper.py
  fedn/tests/stores/helpers/mongo_docker.py
  fedn/tests/stores/helpers/postgres_docker.py
  fedn/tests/stores/test_client_store.py
  fedn/tests/stores/test_combiner_store.py
  fedn/tests/stores/test_model_store.py
  fedn/tests/stores/test_package_store.py
  fedn/tests/stores/test_prediction_store.py
  fedn/tests/stores/test_round_store.py
  fedn/tests/stores/test_session_store.py
  fedn/tests/stores/test_status_store.py
  fedn/tests/stores/test_validation_store.py
  pyproject.toml
Labels: feature, minor

#810 Feature/SK-1400 | Add git action workflow for unit tests
  .github/workflows/unittesting-pytest.yaml
  fedn/tests/requirements.txt
  fedn/tests/stores/helpers/database_helper.py
  fedn/tests/stores/helpers/mongo_docker.py
  fedn/tests/stores/helpers/postgres_docker.py
Labels: feature, minor, github

#811 Feature/SK-1405 | Add analytics routes and store
  fedn/network/api/shared.py
  fedn/network/api/v1/__init__.py
  fedn/network/api/v1/analytic_routes.py
  fedn/network/storage/dbconnection.py
  fedn/network/storage/statestore/stores/analytic_store.py
Labels: feature, minor

#812 Bug/SK-1410 | Missing / in some endpoints, fixing set_active_model
  fedn/network/api/client.py
Labels: fix, patch

#814 Feature/SK-1269 | EntityNotFoundException removed from State Stores
  fedn/network/api/shared.py
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/api/v1/helper_routes.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/prediction_routes.py
  fedn/network/api/v1/round_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/api/v1/status_routes.py
  fedn/network/api/v1/validation_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/prediction_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/network/storage/statestore/stores/store.py
  fedn/network/storage/statestore/stores/validation_store.py
Labels: feature, minor

#816 Fix/SK-1424 | Fix how model bucket is set in API
  fedn/network/api/v1/model_routes.py
Labels: feature, patch

#818 Bugfix/SK-1431 | Change back from control.models to control.model
  fedn/network/storage/dbconnection.py
Labels: fix, minor

#820 Bugfix/SK-1440 | Syntax error escape character on windows paths
  fedn/network/clients/package_runtime.py
Labels: fix, minor

#817 Feature/SK-1270 | Change interface of ClientStore to use the Client class as data container
  fedn/network/api/network.py
  fedn/network/api/v1/client_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/storage/dbconnection.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/dto/__init__.py
  fedn/network/storage/statestore/stores/dto/client.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/new_store.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/prediction_store.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/network/storage/statestore/stores/store.py
  fedn/network/storage/statestore/stores/validation_store.py
  fedn/tests/stores/test_client_store.py
Labels: feature, minor

#821 Feature/SK-1359 | Unit test get (single) methods for client
  fedn/network/storage/statestore/stores/new_store.py
  fedn/tests/stores/test_client_store.py
Labels: feature, minor

#788 Feature/SK-1292 | Create client config file through CLI
  fedn/cli/client_cmd.py
  fedn/cli/model_cmd.py
  fedn/cli/project_cmd.py
  fedn/cli/shared.py
Labels: feature, minor

#823 Bugfix/SK-1452 | GrpcConnectionOptions all args not needed for direct combiner connection
  fedn/network/clients/fedn_client.py
Labels: fix, patch

#822 Feature/SK-1435 | Update modelstore to use DTOs
  fedn/network/api/network.py
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/graphql/schema.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/combiner/combiner.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/dto/__init__.py
  fedn/network/storage/statestore/stores/dto/client.py
  fedn/network/storage/statestore/stores/dto/model.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/new_store.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/tests/stores/test_client_store.py
  fedn/tests/stores/test_model_store.py
  fedn/tests/stores/test_session_store.py
Labels: feature, minor

#815 Bugfix/SK-1421 | Change load_data function in HuggingFace example
  examples/huggingface/client/data.py
Labels: fix, patch

#828 Feature/SK-1456 | Add flag -y to project delete
  fedn/cli/project_cmd.py
Labels: feature, minor

#829 Feature/SK-1287 | Add set-active to model resource
  fedn/cli/client_cmd.py
  fedn/cli/model_cmd.py
  fedn/cli/shared.py
Labels: feature, minor

#830 Feature/SK-1458 | Add start cmd to session
  fedn/cli/session_cmd.py
Labels: feature, minor

#831 Feature/SK-1453 | Update session store to use typings
  fedn/network/api/v1/graphql/schema.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/dto/model.py
  fedn/network/storage/statestore/stores/dto/session.py
  fedn/network/storage/statestore/stores/dto/shared.py
  fedn/network/storage/statestore/stores/new_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/tests/stores/helpers/mongo_docker.py
  fedn/tests/stores/helpers/postgres_docker.py
  fedn/tests/stores/test_client_store.py
  fedn/tests/stores/test_model_store.py
  fedn/tests/stores/test_session_store.py
Labels: feature, minor
