Repository scaleoutsystems/fedn, pull requests merged in 2025-01, with the labels that each got.

#770 Feature/SK-1235 | Improve API documentation
  docs/apiclient.rst
  docs/img/find_controller_url.png
  docs/img/generate_admin_token.png
  examples/api-tutorials/API_Example.ipynb
  examples/api-tutorials/Aggregators.ipynb
  examples/api-tutorials/Hyperparameter_Tuning.ipynb
  examples/notebooks/API_Example.ipynb
Labels: feature, docs, minor

#777 Feature/SK-1262 | Add graphql server to FEDn
  Dockerfile.dev
  docker-compose.dev.yaml
  fedn/network/api/server.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/api/v1/graphql/__init__.py
  fedn/network/api/v1/graphql/schema.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/round_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/api/v1/shared.py
  fedn/network/api/v1/status_routes.py
  fedn/network/api/v1/validation_routes.py
  pyproject.toml
Labels: feature, minor

#785 Feature/SK-1265 | Implement SQL store
  config/settings-combiner.yaml.local.template
  config/settings-combiner.yaml.template
  config/settings-controller.yaml.local.template
  config/settings-reducer.yaml.template
  docker-compose.dev.yaml
  fedn/cli/client_cmd.py
  fedn/cli/run_cmd.py
  fedn/common/settings-controller.yaml.template
  fedn/network/api/client.py
  fedn/network/api/interface.py
  fedn/network/api/network.py
  fedn/network/api/server.py
  fedn/network/api/shared.py
  fedn/network/api/tests.py
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/api/v1/graphql/schema.py
  fedn/network/api/v1/helper_routes.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/prediction_routes.py
  fedn/network/api/v1/round_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/api/v1/shared.py
  fedn/network/api/v1/status_routes.py
  fedn/network/api/v1/validation_routes.py
  fedn/network/clients/client.py
  fedn/network/clients/fedn_client.py
  fedn/network/clients/package.py
  fedn/network/clients/package_runtime.py
  fedn/network/combiner/combiner.py
  fedn/network/combiner/interfaces.py
  fedn/network/combiner/roundhandler.py
  fedn/network/combiner/shared.py
  fedn/network/controller/control.py
  fedn/network/controller/controlbase.py
  fedn/network/storage/statestore/mongostatestore.py
  fedn/network/storage/statestore/statestorebase.py
  fedn/network/storage/statestore/stores/client_store.py
  fedn/network/storage/statestore/stores/combiner_store.py
  fedn/network/storage/statestore/stores/model_store.py
  fedn/network/storage/statestore/stores/package_store.py
  fedn/network/storage/statestore/stores/prediction_store.py
  fedn/network/storage/statestore/stores/round_store.py
  fedn/network/storage/statestore/stores/session_store.py
  fedn/network/storage/statestore/stores/shared.py
  fedn/network/storage/statestore/stores/sql/shared.py
  fedn/network/storage/statestore/stores/status_store.py
  fedn/network/storage/statestore/stores/store.py
  fedn/network/storage/statestore/stores/validation_store.py
  pyproject.toml
Labels: feature, minor

#787 Fix/SK-1318 | Fixed critical security vulnerability #847 (zlib)
  .github/workflows/build-containers.yaml
  .trivyignore
  Dockerfile
Labels: fix, minor, github

#784 Feature/SK-1229 | Project resource for CLI extension
  fedn/cli/__init__.py
  fedn/cli/client_cmd.py
  fedn/cli/combiner_cmd.py
  fedn/cli/login_cmd.py
  fedn/cli/model_cmd.py
  fedn/cli/package_cmd.py
  fedn/cli/project_cmd.py
  fedn/cli/round_cmd.py
  fedn/cli/session_cmd.py
  fedn/cli/shared.py
  fedn/cli/status_cmd.py
  fedn/cli/validation_cmd.py
Labels: feature, minor

#789 Fix/SK-1323 | fixed default host in shared.py
  fedn/cli/login_cmd.py
  fedn/cli/shared.py
Labels: fix, patch

#790 Fix/SK-1324 | Fixed bug in list method for resources
  fedn/cli/combiner_cmd.py
  fedn/cli/model_cmd.py
  fedn/cli/package_cmd.py
  fedn/cli/round_cmd.py
  fedn/cli/session_cmd.py
  fedn/cli/status_cmd.py
  fedn/cli/validation_cmd.py
Labels: fix, minor

#791 Fix/SK-1325 | JWT role "admin" -> "client" for client endpoints
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/package_routes.py
Labels: fix, patch

#792 Bugfix/SK-1253 | Client exit if no python_env is defined in fedn.yaml
  fedn/network/clients/fedn_client.py
Labels: fix, patch

#795 Feature/SK-1339 | Add predictions (list etc) to APIClient
  examples/mnist-pytorch/client/predict.py
  fedn/network/api/client.py
  fedn/network/api/v1/prediction_routes.py
  fedn/network/clients/client_v2.py
Labels: feature, minor

#797 Fix/SK-1349 | Return session_id from APIClient.start_session
  fedn/network/api/client.py
Labels: fix, patch

#799 Github/SK-1351 | Move trivy workflow to own file
  .github/workflows/build-containers.yaml
  .github/workflows/trivy-scanning.yaml
Labels: minor, github

#798 Refactor/SK-1194 | Use local package in async example
  examples/async-clients/README.rst
  examples/async-clients/client/entrypoint.py
  examples/async-clients/client/fedn.yaml
  examples/async-clients/config.py
  examples/async-clients/init_fedn.py
  examples/async-clients/init_seed.py
  examples/async-clients/run_clients.py
  examples/async-clients/run_experiment.py
Labels: minor

#800 Feature/SK-1340 | Add stacked bar chart graph for predictions per client
  examples/api-tutorials/API_Example.ipynb
Labels: feature, minor

#803 Bug/SK-1357 | Controller stuck in setup state
  fedn/network/controller/controlbase.py
Labels: fix

#804 Feature/SK-1298 | Log unexpected exceptions in routes
  fedn/network/api/v1/client_routes.py
  fedn/network/api/v1/combiner_routes.py
  fedn/network/api/v1/helper_routes.py
  fedn/network/api/v1/model_routes.py
  fedn/network/api/v1/package_routes.py
  fedn/network/api/v1/prediction_routes.py
  fedn/network/api/v1/round_routes.py
  fedn/network/api/v1/session_routes.py
  fedn/network/api/v1/status_routes.py
  fedn/network/api/v1/validation_routes.py
Labels: feature, minor

#796 Docs/SK-1344 | Server functions documentation
  docs/README.md
  docs/index.rst
  docs/serverfunctions.rst
Labels: docs, minor
